:root {
    --color-main-title : #353535;
    --color-sd-title: #d9d9d9;
    --color-right-part: white;
    }
    
    .cvhead{
       font-size: 0.5em;
      width: 70%;
 
        margin-left: auto;
        margin-right: auto;
        padding :1em;
        font-size: 1em;
        
    }
    
    main{
    display: flex;
    background-color: #284b63;
    flex-direction: row;
    width: 70%;
margin-left: 10em;
    
    }
    .left-part{
   
    margin: 1em;
    
    }
    
    .right-part{
    background-color: #3c6e71;
  width: 60%;
    color:var(--color-right-part);
    
    
    }
    h3{
        color: var(--color-sd-title);
    }
    
    h1,
    h2,
    h4,
    h5{
    color:var(--color-main-title)
    
    }
    h1{
        width :70%;
       text-align: center;
        
    }
  
    
    .top{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: flex-start;
        
    }

    .phpto{

        width: 100%;
        box-sizing: border-content;

    }
    .btnCv{
        background-color: #ed3c57;
        padding: 1em;
        color: white;
        border-radius: 13px;
        width: 13em;
        height: 5em;
        text-align: center;
        padding-bottom: 2em;
        font-family: 'Poppins';
        margin-top: 1em;
        position: absolute   ;      
        right: 10em;     

    }