@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,100;1,200;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;

}


body{
 font-family: 'Poppins';
    background-image: url("../images/background.png") ;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


  width: 100vw;
}

/********gestion navbar*/
.navbar{

    padding: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
      width: 100%;
    backface-visibility: visible;
    
}

.navbar .logo  {
    color: white;
    font-size: 2em;
    font-weight: bold;
}

.navbar a {
    color: white;
    margin-right: 1em;
}

.navbar .nav-links{
    display: flex;
    align-items: center;
}

.navbar .nav-links ul {
    display: flex;
}
.navbar .nav-links ul li.active a{
    color: #ed3c57;
   margin: 0 25px;
   font-weight: 600;
}


/******** menu hamburger *********/
img.hamb {
    display: none;
    width: 35px;
    position: absolute;
    top: 50px;
    right: 50px;
    width: 35px;
}

/********* article principal- home page *****************/
.main-article{

    color: floralwhite;
    margin-top:0em;
    text-align: justify;
    backdrop-filter: blur(15px);
    margin-left: 10em;
    margin-right: 10em;

   
}

/******** main-page**********/

.main-page{

    display: flex;
    margin-top: 22em;
    color: white;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(8px);

}

.btnEnter{
    background-color: #ed3c57;
    padding: 1em;
    color: white;
    border-radius: 13px;
    width: 8em;
    height: 7px;
    text-align: center;
    padding-bottom: 2em;
    font-family: 'Poppins';
    margin-top: 1em;
}
/******** ul icone********/
.icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
   margin-top: 0em;

}

/********* animation bouton footer****/
.img1:hover,
.img2:hover,
.img3:hover
{
    width: 7em;
    height: 7em;
    transition:  transform 1s;
}


/*********** footer ****************/

.links{
    display: flex;
    
}

/******** formulaire **********/
form{
    display: flex;
    flex-direction: column;
    margin-left: 3em;
    margin-right: 3em;
    color: white;
    backdrop-filter: blur(8px)    ;

    padding-bottom: 1em;
    justify-content: center;
    align-items: center;
  

  
}

.element__form{
    display: flex;
    flex-direction: column;
    text-align: center;
}

#name,
#prenom,
#email,
#societe
{
   
    backdrop-filter: blur(8px);
    border-bottom: solid 1px black;
    background-color: transparent;
    opacity: 0.8;
    border-radius: 13px;
    width: 19em;
    height: 25px;
    font-family: 'Poppins';
    color: white;
}
#boutton{
    background-color: #ed3c57;
    padding: 1em;
    color: white;
    border-radius: 13px;
    width: 12em;
    height: 27px;
    text-align: center;
    padding-bottom: 2em;
    font-family: 'Poppins';
}
#message{
    backdrop-filter: blur(8px);
    color: black;
    border-bottom: solid 1px black;
    background-color: transparent;
    opacity: 0.8;
    border-radius: 13px;
    width: 45em;
    height: 18em;
    margin: 1em;
    padding: 1em;
    font-family: 'Poppins';

}

/********** partie portfolio *********/

tbody{
    display: flex;
 

}


.css,
.php,
.js,
.php{
    
    width: 10%;
  
}

.html{
    width: 13%;
}

.logo-techno{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 3em;
}

.card{
    width: 18rem;
    text-align: center;
}

.card-title {
    font-size: 1.5em;
}
.card-title,
.text-card{
    color: white;
}

.link-card{
    color: #ed3c57;
}

.body-card{

    backdrop-filter: blur(8px);
}

.portfo{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-around;
}
/********** RWD *********/


@media screen and (max-width: 900px){

    .nav-links.mobile-menu{
        margin-left: 0;
     

    }

    .main-article{
        margin-top: 13em;
        margin-left: 3em;
        margin-right: 3em;
    
    }

    .nav-links {
        position: absolute;
        background-color: rgba(255, 255, 255, 0,20);
        backdrop-filter: blur(8px)    ;
        width: 100%;
        height: 100vh;
        
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100% ;
        transition: all 0.5s ease;  
     }
 
    .navbar{
        padding: 0;
    }
    .navbar .hamb {
        display: block;
    }


    .nav-links ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navbar .nav-links ul li{
        margin: 25 0px;
        font-size: 1.5em;
    }
    .navbar .logo  {
        position: absolute;
        top: 40px;
        left: 30px;
    }

    .icons{
     
        margin-top:10em;
    }

 

}
@media screen and (max-width: 1024px){


    .nav-links {
        position: absolute;
        background-color: rgba(255, 255, 255, 0,20);
        backdrop-filter: blur(8px);
        width: 100%;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100% ;
        transition: all 0.5s ease;
        margin-top: 52em;

 
       
     }
    .nav-links.mobile-menu{
        margin-left: 0;
        width: 100%;
        height: 100%;
        

    }
    .main-article{
     
        z-index: -1;
        margin-top: 8em;
    }


    .navbar{
        padding: 0;
    }
    .navbar .hamb {
        display: block;
    }

  


    .nav-links ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navbar .nav-links ul li{
        margin: 25 0px;
        font-size: 1.5em;
    }
    .navbar .logo  {
        position: absolute;
        top: 40px;
        left: 30px;
    }


    .icons{
     
        margin-top:2em;
    }

    form{
        margin-top: 9em;
        z-index: -1;
        position: relative;
    }
.element__form{
    display: flex;
    flex-direction: column;
    text-align: center;

}

.portfo{

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10em;
    z-index: -1;
}

.body-card{
    z-index: -1;
    margin-top: 2em;
}


}


